/* Start About */

.container {
  height: 80vh;
  margin: 100px;
  display: flex;
  justify-content: space-around;
}

.image {
  width: 50%;
}

.image img {
  width: 100%;
}

.info {
  color: #afafaf;
}

.info > h2 {
  font-size: 40px;
}

.info > h2 > span {
  color: #000;
  text-shadow: 0px 0px 20px #0b3b86;
}

.info > p {
  margin: 10px 0 20px;
}

.inf {
  color: #afafaf;
  display: block;
  margin-bottom: 16px;
  font-size: 17px;
  font-family: unset;
}

.str-1 {
  padding-right: 20px;
}

.str-2 {
  padding-right: 73px;
}

.str-3 {
  padding-right: 11px;
}

.str-4 {
  padding-right: 14px;
}

.str-5 {
  padding-right: 38px;
}

.str-6 {
  padding-right: 23px;
}

.str-7 {
  padding-right: 50px;
}

.str-8 {
  padding-right: 50px;
}

@media (max-width: 576px) {
  .container {
    flex-direction: column;
    margin: 50px 50px 150px;

  }

  .image {
    width: 100%;
    margin-bottom: 10px;
  }
  .information {
    margin-left: 25px;
  }
  .information > h2 > span {
    font-size: 40px;
    text-shadow: 0px 0px 20px #0b3b86;
  }
} 



@media (min-width: 577px) {
  .container {
    margin: 50px;
    flex-direction: column;
  }
  .image {
    width: 50%;
    margin-left: 100px;
  }

  .image img {
    width: 100%;
  }

  .information {
    color: #afafaf;
    margin-left: 100px;
  }
}


@media (min-width: 767px) {
  .container {
    flex-direction: row;
    margin-top: 100px;
  }
  .image {
    width: 40%;
  }
}
/* End About */