/* Start Navbar */
.navbar {

  z-index: 10;
}

.list {
  list-style: none;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-top: 20px;
}

.nav-links {
  margin: 20px 10px 0;
  position: relative;
}

.nav-ancor {
  color: white;
  text-decoration: none;
}


.nav-ancor:after,
.nav-ancor:before {
  content: "";
  position: absolute;
  width: 0px;
  height: 3px;
  background: #056cd7;
  transition: 0.3s ease-in-out;
}

.nav-ancor:after {
  bottom: -5px;
  right: 0px;
}

.nav-ancor:before {
  top: -5px;
  left: 0px;
}

.nav-ancor:hover:after,
.nav-ancor:hover:before {
  width: 100%;
}

/* .nav-ancor:hover {
  color: #007bff;
} */

@media (max-width: 576px) {
  .list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-links {
    margin: 20px 10px 0;
  }

  .nav-links:last-of-type {
    padding-right: 23px;
  }
}

@media (min-width: 576px) {
  .list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-links {
    margin: 10px 20px 10px
  }
}

@media (min-width: 768px) {
  .list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-links {
    margin: 10px 10px 10px
  }

  .nav-ancor {
    color: white;
    margin: 0 10px;
  }

  .nav-ancor:hover {
    text-decoration: none;
  }
}

/* End Navbar */