@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Finlandica:ital,wght@0,400;0,500;1,400&family=Noto+Sans+Arabic:wght@300;400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: 'Almarai', sans-serif;
  font-family: 'Finlandica', sans-serif;
  font-family: 'Noto Sans Arabic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, #232b2b, #000000);
  background-repeat: repeat;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.animation {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -10;
}

.animation::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -5
}



.loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #232b2b;
  z-index: -10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}